.spacer-small {
    border: none;
    margin-top: 0;
}
.button-section {
    padding: 10px;
    font-size: 30px;
    width: 300px;
}
.ui-widget.ui-widget-content{
	border: 1px solid black;
}
#feedback { font-size: 1.4em; }
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { width:80%; margin:0 auto; }
.selectable span { !margin: 3px; !padding-bottom: 0.4em; font-size: 22px; !height: 18px; cursor:pointer;}
.tab-interactable{border:1px solid black; border-radius:10px; color:black;}
.no-top {margin-top:0px;}