.spacer{ border: none; }
.spacer.small { margin-top: 0; }
.form-label{font-size:24px;font-weight:700;}
.form-input{font-size:20px;}
.button-section {
    padding: 10px;
    font-size: 30px;
    width: 300px;
}
.ui-widget.ui-widget-content{
	border: 1px solid black;
}
#feedback { font-size: 1.4em; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { width:80%; margin:0 auto; }
.selectable button { font-size: 22px; !height: 18px; cursor:pointer;}
.tab-interactable{border:1px solid black; border-radius:10px; color:black;}
.no-top {margin-top:0px;}
.skills-wrapper{width:60%;margin:0 auto;}